# Gradle

.gradle/
build/
out/
classes/

# Eclipse

*.launch

# Idea

.idea/
*.iml
*.ipr
*.iws

# Minecraft
run/
runV2/

# VScode

.settings/
.vscode/
bin/
.classpath
.project

# macOS

.DS_Store
.AppleDouble
.LSOverride

# Fabric

*.cap
*.rdc
run/